html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova", sans-serif;
}
body{
    overflow-x: hidden;
}
header{
    height: 80px;
    background-image: url('../image/backLogo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 99;
}
.navBar{
    width: 85%;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 15px;
}
.list-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin-left: 170px;
}
.list-link li{
    list-style-type: none;
    margin-right:50px ; 
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}
a:hover{
    color: rgba(0, 0, 0, 0.751);
}
.navBar button{
    font-size: 15px;
    margin-right: 20px;
    position: relative;
    right: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: transparent;
    transition: all 0.4s;
}
.navBar button:hover{
    background-color: rgba(0, 0, 0, 0.527);
}
.navBar button a:hover{
    color: white;
}
.logo{
    width: 550px; 
}
.logo img{
    width: 35%;
    margin-left:70px ;
}
.hero{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.hero::before{
    content: "";
    background-image: url('../image/bg2.png'),url('../image/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 520px;
}
.hero-div{
    display: flex;
    align-items: center;
}
.hero-div img{
    width: 650px;
    position: relative;
    top: 95px;
    left: 400px;
    transition: all 0.5s;
}
.hero-div img:hover{
    transform: scale(1.1);
}
.des{
    position: absolute;
    left: 300px;
    top: 170px;
}
.des h1{
    position: relative;
    bottom: 40px;
    right: 120px;
    color: white;
    font-size: 40px;
}
.des .numero{
    font-family: 'Diplomata' , serif;
    position: relative;
    font-size: 150px;
    right: 60px;
    bottom: 60px;
    width: 500px;
    color: white;
}
.des .jours{
    position: relative;
    bottom: 40px;
    right: 60px;
    font-size: 45px;
    color: white;
    font-weight: bold;
}
.des div{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 60px;
    right:120px ;
}
.des div a {
    margin-right: 30px;
}
.des div a button{
    width: 160px;
    color: white;
    height: 45px;
    background-color: #F5167E;
    border-radius: 50px;
    border: 1px solid rgb(249, 249, 249);
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s;
}
.des div a button:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.63);
}

.menu-section{
    display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    background-color: #242565;
    width: 800px;
    height: 100px;
    position: relative;
    margin-top: 90px;
    left: 200px;
    border-radius: 20px;
}
.menu-section div{
    margin-right: 80px;
}

.menu-section div label{
    color: white;
    font-size: 14px;
    
}
.menu-section div input ,
 .menu-section div select,
 .menu-section div input::placeholder{
    font-family: 'DM Sans', sans-serif;
    background-color: transparent;
    color: white;
    font-size: 18px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}
.menu-section div input:focus{
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}
.header-section-event{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-section-event .image-section-events{
    position: relative;
    left: 90px;
    width: 400px;
    height: 170px;
}
.header-section-event .image-section-events img{
    width: 100%;
    height: 100%;
}
.header-section-event .select-header{
    margin-right: 90px;
}
.header-section-event .select-header select{
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 20px;
    height: 45px;
    width: 130px;
    background-color: #e0e4fd;
}

.events-section .events-card{
    font-family: 'DM Sans', sans-serif;
    position: relative;
    left: 50px;
    left: 50px;
    width: 1086px;
    height: 334px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,350px);
    justify-content: space-around;
    gap: 20px;
}
.events-section .events-card .card{
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(220, 220, 220, 0.689);
    width: 343px;
    height: 334px;
    transition: all 0.4s;
}
.events-section .events-card .card:hover{
    transform: translateY(-8px);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.496);
}
.events-section .events-card #card4{
    grid-column: 1/3;
    width: 715px;
    height: 334px;
}
.events-section .events-card #card7{
    grid-column: 2/4;
    width: 715px;
    height: 334px;
}
.events-section .events-card .info .bar-time p {
    position: absolute;
    top: 220px;
    left: 18px;
    font-weight: bold;
    font-size: 11px;
    color: #3D37F1;
}
.events-section .events-card .info .bar-time h4{
    position: absolute;
    top: 230px;
    left: 14px;
    font-weight: bold;
    font-size: 28px;
}
.events-section .events-card .info .info-desc h5{
    position: absolute;
    top: 220px;
    left: 75px;
    font-weight: bold;
    font-size: 15px;
}
.events-section .events-card .info .info-desc p{
    position: absolute;
    top: 270px;
    left: 75px;
    font-size: 14px;

}
.events-section button{
    background-color: transparent;
    width: 150px;
    height: 40px;
    color: #3D37F1;
    border: 2px solid #3D37F1;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 550px;
    top: 770px;
    transition: all 0.3s;
}
.events-section button:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.554);
}




footer{
    position: relative;
    top: 800px;
    font-family:'DM Sans', sans-serif ;
    margin-top: 30px;
    background-color: #0A075F;
    height: 400px;
    width: 100%;
}
footer .section-footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding-top: 40px;
    padding-left: 50px;
}
footer .section-footer img{
    height: 35;
    width: 140px;
}
footer .section-footer .icon-footer img{
    height: 36px;
    width: 36px;
}
footer .section-footer div{
    gap: 10px;
}
footer .section-footer p , footer .section-footer a{
    font-weight:100px;
    font-size: 14px;
     color: white;
      line-height: 2.4; 
      margin-top: 20px;
}
.section-footer input{
    margin-top: 25px;
    width: 364px;
    height: 60px;
    border-radius: 50px;
    border: none;
}
.section-footer input::placeholder{
    font-size: 12px;
    padding-left: 20px;
}
.section-footer input:focus{
    outline: none;
    border: none;
}
.section-footer button{
    position: relative;
    bottom: 53px;
    left: 210px;
    width: 149px;
    height: 46px;
    border-radius: 50px;
    background-color: #F5167E;
    border: none;
}
hr{
    margin-left: 100px;
    width: 80%;
    position: relative;
    top: 60px;
}
footer .Copyright p{
    position: relative;
    top: 80px;
    text-align: center;
    color: white;
    font-size: 14px;
    
}